<div style="padding-left: 500px">
  <div style="text-align: center; background: #ffb6c1; max-width: 50%">
  <h1>New movie</h1>

  <%= render "form", movie: @movie %>

  <br>

  <div>
    <%= link_to "Back to movies", movies_path %>
  </div>
</div>
</div>

